html {
  height: 100%;
  width: 100%;
  background-color: #333257;
  color: white;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
}
.header{
  border: 2px solid white;
  text-align: center;
  height: 55px;
  font-size: 28px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow:2px 0px 2px black;
  font-weight: bold;
}
.header:hover{
  height: 64px;
  font-size: 29px;
  transition: 0.5s;
}
.container {
display:flex;
}
.div1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 45px;
  width: 33%;
  box-shadow:2px 2px 2px black;
}
  .div1:hover{
    background-color: #9808aa;
    height: 50px;
    width: 35%;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
  }

.div2{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 45px;
  width: 33%;
  box-shadow:2px 2px 2px black;
}
.div2:hover{
  background-color: #9808aa;
  height: 50px;
  width: 35%;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}
.div3{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 45px;
  width: 33%;
  box-shadow:2px 2px 2px black;
}
.div3:hover{
  background-color: #9808aa;
  height: 50px;
  width: 35%;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}
.body{
  font-size: 20px;
  border: 2px black solid;
  height: 100%;
  width: 66%;
  box-shadow:2px 2px 2px black;
}
